<div class="container">
    <h1>
        <%= title %>
    </h1>
    <div class="row">
        <div class="col"><table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Contact Address</th>
                <th scope="col">Email Address</th>
              </tr>
            </thead>
            <tbody>
                <% for(let count=0; count < collection.length; count++ ) { %>
              <tr>
                <th scope="row"><%=count +1 %></th>
                    
                <td><%=collection[count].ContactName %></td>
                <td><%=collection[count].ContactNumber %></td>
                <td><%=collection[count].emailAddress %></td>
              </tr>
              <% } %>
            </tbody>
          </table></div>
    </div>
</div>